@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,400&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /*Font size*/
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /* colours */
  --black-colour: #181818;
  --purple-colour: #a91cff;
  --soft-pink-colour: #f0e5e6;
  --white-colour: #FFFF;
  --orange-colour:  #ff5722;
  --blue-colour:   rgb(21, 222, 222); 
  --gray-colour: #B0BEC5; 



  


}

#full-section {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

/* NavBar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.nav-menu{
 display: flex; 
}

.navbar :where(#menu-close-button, #menu-open-button) {
  display: none;
}
.nav-title {
  font-size: var(--font-size-l);
}

.nav-links {
  cursor: pointer;
  font-size: var(--font-size-m);
}
.nav-links:hover {
  color: #a91cff;
  transition: 0.5s ease;
}
.drop-links {
  color: #181818;
  border: none;
}
.drop-links:hover {
  background-color: #181818;
  color: #a91cff;
  border: none;
}
.li-style {
  list-style-type: disc;
}

.dropdown-menu {
  display: none;
}

ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #181818;
}
.sub-links {
  color: #f0e5e6;
}

.sub-links:hover {
  color: #a91cff;
}

.dropdown-menu ul {
  display: block;
  margin: 10px;
}

.dropdown-menu ul li {
  width: 150px;
  padding: 10px;
}
/* Carousel */
.slider-heading {
  font-size: 40px;
  margin-top: -500px;
  text-align: left;
  color: var(--white-colour);
  top: 200px;
  position: relative;
  top: -300px;
  padding-top: 0px;
}
.slider-text {
  font-size: 20px;
  color: var(--white-colour);
}
.slider-span {
  color: var(--blue-colour);
}
.heading1 {
  position: relative;
  left: 700px;
  top: -320px;
}
.text1 {
  position: relative;
  left: 700px;
  top: -305px;
  text-align: justify;
}
.heading2 {
  position: relative;
  left: 100px;
  top: -160px;
  text-align: justify;
}
.text2 {
  position: relative;
  left: 100px;
  top: -145px;
  text-align: justify;
}
.heading3 {
  position: relative;
  left: 30px;
  top: -160px;
  text-align: justify;
}
.text3 {
  position: relative;
  left: 30px;
  top: -145px;
  text-align: justify;
}
/* buttons */
.btns {
  border: 1px solid var(--purple-colour);
  background-color: var(--purple-colour);
  padding: 7px;
  color: var(--white-colour);
  border-radius: 10px;
  margin-right: 10px;
  font-size: 18px;
}
.btns1 {
  position: relative;
  left: 700px;
  top: -295px;
  text-align: justify;
}
.btns2 {
  position: relative;
  left: 100px;
  top: -130px;
  text-align: justify;
}
.btns3 {
  position: relative;
  left: 30px;
  top: -130px;
  text-align: justify;
}
.btns:hover {
  background-color: var(--blue-colour);
  transition: 0.5s ease;
  border: none;
  color: var(--black-colour);
}

/*ABOUT  */
/* Section heading and text */
.section-heading {
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black-colour);
  padding-top: 20px;
}
.section-text {
  font-size: 21px;
  /* font-size: var(--font-size-m); */

  margin: 20px;
}
.about-content-image {
  margin-left: 20px;
  height: 400px;
  width: 600px;
  border-radius: 20px;
}

.about-content-text {
  position: relative;
  top: -350px;
  left: 700px;
  width: 500px;
}
.about-content-heading {
  color: var(--blue-colour);
  font-size: 30px;
  text-align: center;
}
.about-content-paragraph {
  color: var(--black-colour);
  text-align: justify;
  font-size: 21px;
  margin-top: 10px;
}


.offer-div {
  position: relative;
  top: -20px;
}
.offer-image {
  margin-left: 640px;
  margin-top: -100px;
}
.offer-text {
  position: relative;
  top: -450px;
  margin-left: -650px;
}
.why-div {
  position: relative;
  top: -300px;
}
.why-text {
  margin-top: -20px;
}
/*Classes  */
.classes-div {
  position: relative;
  top: -550px;
}
.class-text-div {
  /* border: 1px solid black; */
  width: 300px;
  height: 50px;
  position: relative;
  top: -30px;
  left: 50px;
  background-color: #ffff;
}

.class-title {
  font-size: 25px;
  text-align: center;
  padding: 3px;
}
.classes-image {
  width: 400px;
  height: 300px;
  padding-left: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 1.3s;
}
.class-list {
  width: calc(100% / 3 -110px);
}

.classes-image:hover {
  transform: scale(1.1);
}
/* Classes */
.classes-div{
  background-color: var(--blue-colour);
}

/* Class Schedule */
.schedule {
  background-color: var(--white-colour);
  position: relative;
  top: -550px;
  height: 990px;
}
table {
  justify-content: center;
  margin-left: 80px;
  border: 1px solid black;
}
td {
  text-align: center;
  border: 1px solid black;
  width: 140px;
  height: 140px;
}
th {
  border: 1px solid black;
  /* background-color: grey; */
}
/* Trainers */
.trainers-section {
  position: relative;
  top: -550px;
}
.trainer-image {
  width: 300px;
  height: 350px;
  margin-left: 40px;
  margin-bottom: 100px;
  object-fit: cover;
}
.trainer-image-description {
  border: 1px solid black;
  position: relative;
  margin-left: 40px;
  width: 300px;
  height: 120px;
  top: -100px;
  border: none;
}
.trainer-name {
  font-size: 24px;
  text-align: center;
}
.trainer-type {
  text-align: center;
  font-size: 13px;
  font-style: italic;
}
.icons {
  margin-top: 10px;
  width: 8%;
}

/* Event */
.events-div{
  background-color: var(--white-colour);
  color: var(--black-colour);
}
.event-h1 {
  color: var(--black-colour);
}

/* Pricing */
.price-h1{
  color: var(--white-colour);
}
.pricing-div{
  background-color: var(--black-colour);
  color: var(--white-colour);
}
.price-list {
  list-style-type: disc;
  margin-left: 30px;
}

.price-section {
  border-radius: 15px;
  width: 400px;
  height: 380px;
}
.Basic{
  background-color: #26a8e9;
}
.Pro{
  background-color: #26a8e9;
}
.Premium{
  background-color: #26a8e9;
}
/* Testimonial section */
.testimonial-section {
  padding: 50px 0 100px;
  background-color: #f0e5e6;
}

.testimonial-section .testimonial {
  display: flex;
  flex-direction: column;
  padding: 35px;
  align-items: center;
  text-align: center;
}

.testimonial-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 50px;
}

.name {
  font-size: 25px;
  font-weight: bold;
}

.testimonial .feedback {
  line-height: 25px;
}
.swiper-button-next .swiper-button-prev {
  color: #181818;
}
/* Contact */
/*  */
.location {
  color: #a91cff;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.contact-section {
  background-color: #ffff;
}
/* Footer */
.footer-section {
  background-color: #181818;
  color: #ffff;
  /* margin-bottom: 0;
  margin-top: auto; */
}
.footer-images{
  font-size: 30px;
}
/* Animations */
/* Navbar Animation */
@keyframes navbar {
  from {
    transform: translateY(-500px);
  }
  to {
    transform: translateY(0px);
  }
}
.navbar {
  animation-name: navbar;
  animation-duration: 2s;
  animation-timing-function: ease;
}

@keyframes section-titles-animation {
  from {
    opacity: 0;
    scale: 0.5;
    display: hidden;
    overflow: hidden;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    scale: 1;
    transform: translateY(0px);
  }
}

.section-heading {
  animation: section-titles-animation linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
/* .section-text {
  animation: section-titles-animation linear;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
  animation-duration: 2s; */
  /* animation-delay: 2s; */
/* } */

/* About Section */
/*  Mission and why divs*/



/* Responsiveness */
@media screen and (max-width: 900px) {
.body{
  overflow-x: hidden;
}

  .navbar .nav-links-container .nav-menu {
    position: fixed;
    margin-left: 0;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    background-color: var(--white-colour);
    display: none;
  }
  .navbar .nav-links-container .nav-menu.is-open {
    display: flex;
  }

  /*  */

  /* .nav-links-container ul {
    background-color: red;
  } */

  .nav-title{
    font-size: 20px;
  }

  .navbar .nav-menu .nav-links {
    color: #181818;
    font-size: 21px;
  }

  .navbar .nav-menu .nav-links .navbar .nav-menu .nav-links:hover {
    color: #a91cff;
    transition: 0.5s ease;
  }

  .navbar :where(#menu-open-button) {
    display: block;
    position: absolute;
  }}
    
   

  